<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Nueva Transacción</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5 col-lg-4 offset-lg-4">
                <h1 class="pb-2 mb-3 border-bottom">Nuevo Producto</h1>
                <form method="post" th:action="@{'/product/save'}" class="mt-2">
                    <div class="mb-3">
                        <label for="productname" class="form-label">Descripción de la Tx</label>
                        <input type="text" class="form-control" name="productname" id="productname">
                    </div>
                    <div class="mb-3">
                        <label for="supplier" class="form-label">Criptomoneda</label>
                        <select id="supplier" class="form-select" name="supplier">
                            <option th:each="supplier : ${listaProveedores}"
                                    th:text="${supplier.companyname}"
                                    th:value="${supplier.id}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">TxID</label>
                        <select id="category" class="form-select" name="category">
                            <option th:each="category : ${listaCategorias}"
                                    th:text="${category.categoryname}"
                                    th:value="${category.id}">${categatory.name}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="quantityperunit" class="form-label">Cantidad</label>
                        <input type="text" class="form-control" name="quantityperunit" id="quantityperunit">
                    </div>
                    <div class="mb-3">
                        <label for="unitprice" class="form-label">Comisión</label>
                        <input type="text" class="form-control" name="unitprice" id="unitprice">
                    </div>
                    <div class="mb-3">
                        <label for="unitsinstock" class="form-label"># Bloque</label>
                        <input type="number" class="form-control" name="unitsinstock" id="unitsinstock">
                    </div>
                    <div class="mb-3">
                        <label for="unitsonorder" class="form-label">Estado</label>
                        <input type="number" class="form-control" name="unitsonorder" id="unitsonorder">
                    </div>
                    <div class="mb-3">
                        <label for="reorderlevel" class="form-label">Billetera</label>
                        <input type="number" class="form-control" name="reorderlevel" id="reorderlevel">
                    </div>
                    <a th:href="@{'/product'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>