<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Nueva Transacción</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5 col-lg-4 offset-lg-4">
                <h1 class="pb-2 mb-3 border-bottom">Nuevo Producto</h1>
                <form method="post" th:action="@{/cripto/save}" class="mt-2">
                    <input th:value="${1}" name="user" type="hidden"/>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción de la Tx</label>
                        <input type="text" class="form-control" name="description" id="description">
                    </div>
                    <div class="mb-3">
                        <label for="currency" class="form-label">Criptomoneda</label>
                        <select id="currency" name="currency" class="form-select" >
                            <option value="Solana">Solana</option>
                            <option value="Bitcoin">Bitcoin</option>
                            <option value="Polkadot">Polkadot</option>
                            <option value="PancakeSwap">PancakeSwap</option>
                            <option value="Matic">Matic</option>
                            <option value="Axie Infinity">Axie Infinity</option>
                            <option value="BNB">BNB</option>
                            <option value="Cardano">Cardano</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="txId" class="form-label">TxID</label>
                        <input type="text" class="form-control" name="txId" id="txId" max="40">
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" name="amount" id="amount">
                    </div>
                    <div class="mb-3">
                        <label for="neetworkFee" class="form-label">Comisión</label>
                        <input type="number" class="form-control" name="neetworkFee" id="neetworkFee">
                    </div>
                    <div class="mb-3">
                        <label for="block" class="form-label"># Bloque</label>
                        <input type="number" class="form-control" name="block" id="block">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Estado</label>
                        <input type="text" class="form-control" name="status" id="status">
                    </div>
                    <div class="mb-3">
                        <label for="wallet" class="form-label">Billetera</label>
                        <select id="wallet" class="form-select" name="wallet">
                            <option th:each="wallet : ${listaBilleteras}"
                                    th:text="${wallet.address}"
                                    th:value="${wallet.id}"
                                    ></option>
                        </select>
                    </div>
                    <a th:href="@{'/login/inicioSesion'}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>