<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <!-- Intro settings -->
    <style>
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
        }
        @media (max-width: 991px) {
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 45px;
            }
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" target="_blank" href="https://mdbootstrap.com/docs/standard/">
                <i class="bi bi-currency-bitcoin"></i>Telecripto
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#intro">Mi Billetera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
                           target="_blank">Transacciones</a>
                    </li>

                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    <!-- Icons -->
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
                           target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-3 h2">La forma más popular del mundo para comprar,vender e intercambiar criptomonedas</h1>
        <img src="/img/coins.png" class="img-fluid" />
    </div>
    <!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5"><strong>Lista de Cripto</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(0).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(0).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(0).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(0).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(1).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(1).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(1).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(1).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(2).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(2).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(2).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(2).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(3).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(3).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(3).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(3).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(4).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(4).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(4).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(4).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(5).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(5).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(5).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(5).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(6).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(6).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(6).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(6).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.ctfassets.net/q33z48p65a6w/2fi3pKDcUs07RnA0XXwh8S/7a4259eabc9f8d52eef29e4a47a76104/2202_Crypto_BlogHeader_Types_of_cryptoccurency.png?w=1200&h=645&fit=thumb" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${listaCriptos.get(7).name}"></h2>
                            <h5 class="card-title" th:text="${'Red: '}+${listaCriptos.get(7).getNetwork()}"></h5>

                            <p class="card-text" th:text="${listaCriptos.get(7).getDescription()}">
                            </p>
                            <h2 class="card-title" style="color: green" th:text="${listaCriptos.get(7).getPrice()}+${' (BUSD)'}"></h2>

                        </div>
                    </div>
                </div>


            </div>

        </section>
        <!--Section: Content-->

        <!-- Pagination -->

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">


    <hr class="m-0" />



    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022-2 Copyright:
        <a class="text-dark" href="https://google.com/">Lab2-Gtics</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->

</body>
</html>