<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.w3.org/1999/xhtml">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <!-- Intro settings -->
    <style>
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
        }
        @media (max-width: 991px) {
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 45px;
            }
        }
    </style>

    <!-- Navbar -->

        <div class="row mt-4">
            <div class="col-2">
                <img src="/img/logo.png" alt="Logo" height="150"/>
            </div>
            <div class="col-1 mt-5">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" >Mi billetera</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 mt-5">

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link ">Transacciones</a>
                    </li>
                </ul>
            </div>

            <div class="col-5 mt-5">
                <input name="numeroTxID" class="form-control me-2 " type="search" placeholder="Buscar transacciones por TxID" aria-label="Search">
            </div>
            <div class="col-2 mt-5">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
            <!--
            <div class=" col-4 mt-5">
                <button type="button ml-3" class="btn btn-success">Inicio sesión</button>
                <button type="button mr-3" class="btn btn-dark">Cerrar Sesión</button>
            </div>
            --></div>

    <!-- Navbar -->

    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light">
        <h1 class="mb-3 h2">La forma más popular del mundo para comprar,vender e intercambiar criptomonedas</h1>
        <img src="/img/coins.png" class="img-fluid" />
    </div>
    <!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5"><strong>Lista de Cripto</strong></h4>

            <div class="row" th:class="row">

                <div th:each="moneda:${listaCriptos}" class="col-sm-6 mt-4 ml-2 mb-4" >
                    <div class="card text-center border-white bg-transparent">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${moneda.getName()}"></h5>
                            <p class="card-text" th:text="${'Red: '}+${moneda.getNetwork()}" ></p>
                            <p class="card-text" th:text="${moneda.getDescription()}" ></p>
                            <p class="text-success h3" th:text="${moneda.getPrice()}+${ ' (BUSD)'}"></p>
                        </div>
                    </div>
                </div>


            </div>


        </section>
        <!--Section: Content-->

        <!-- Pagination -->

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">


    <hr class="m-0" />



    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022-2 Copyright:
        <a class="text-dark" href="https://google.com/">Lab2-Gtics</a>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->

</body>
</html>